.main-text{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.text-dec{
    color:black;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.news-head{
    border: 1px solid white;
    color: black;
    background-color: white;
    padding: 20px;
}