body{
    background: linear-gradient(to right, #2c3055, #1c1c34);
}

.block-news {
    border: 1px solid white;
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 25px;

    max-width: 800px;   /* ограничиваем ширину */
    margin: 20px auto;  /* центрируем и создаём промежуток между карточками */
}

.news-title{
    font-family: "Staatliches", sans-serif;
    font-weight: 100;
    font-size: 40px;
}

.description{
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.news-data{
    font-family: "Inter", sans-serif;
}